body{
color: white;
margin: 0 0 0 0;
background: #3e362e;
}


.back-image{
   width: 50%;
   height: 100vh;
   background-color: #865d36b6;
   position: absolute;
   z-index: -1;
}

.display{
   background-image: url(./images/backoo.jpg);
   background-size: cover;
   width: 100%;
   height: 100vh;
   position: absolute;
   z-index: -1;
}





header{
   width: 100%;
   display: flex;
   justify-content: space-between;

   .logo{
      width: 50%;
      font-size: 35px;
      text-decoration: none;
      text-transform: capitalize;
      font-weight: bold;
      color: white;
      margin-left: 10px;
      margin-top: 5px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }
nav{
   width: 50%;
   ul{
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      div{
         width: 1px;
         height: 24px;
         background-color: wheat;
      }

      li a{
         font-size: 22px;
         color: white;
         text-decoration: none;
         text-transform: capitalize;
      }
   }
}
}

li a:hover{
   text-decoration: underline;
   text-decoration-color: rgb(0, 122, 236);
   transition: .1s ease-in;
}



.frame{
   width: 85%;
   margin-top: 200px;
   margin-left: 10%;
   transform: translateY(-300%);
   animation: frame 1s ease-in forwards;
   h1{
      font-size: 40px;
      font-weight: bold;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
   }

   p{
      font-size: 20px;
   }
}



.btt{
   width: 50%;
   margin-left: 45%;

   button{


      width: 150px;
      height: 50px;
      font-size: 25px;
      text-transform: capitalize;
      font-weight: bold;
      border: none;
      background-color: rgb(0, 122, 236);
      color: white;
      border-radius: 3px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }


   
}

.bt:hover{
   box-shadow: 0px 0px 5px 4px rgba(0, 122, 236, 0.466);
   border-top-left-radius: 50px;
   border-bottom-right-radius: 50px;
   transition: .4s ease-in;
   rotate: 360deg;
}


.down{
   width: 10%;
   height: 30vh;

   i{
      height: 20vh;
      font-size: 200px;
      color: rgb(0, 122, 236);
   }
}

main:default{
   animation: bi 1s ease-in forwards;

}
@keyframes bi {
   100%{
      display: none;
   }
}

main{
height: 100vh;
width: 100%;
background: #ac89689a;
margin: 0 0 0 0;



.profile{
   box-shadow: 0px 0px 6px 3px black;
   margin-top: 10%;
   width: 50%;
   margin-left: 30px;
   background-color: #a69080;
   display: flex;
   justify-content: space-around;
   height: 350px;
   border-radius: 5px;

   .image{
      margin-left: 10px;
      margin-top: 20px;
      box-shadow: 10px 20px 0px 0px rgb(0, 122, 236);
      width: 200px;
      height: 300px;
   }

   .profile-info{
      margin-left: 13px;
      h1{
         color: black;
         text-align: center;
         font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
      p{
         font-size: 25px;
      }
   }
}

.line{
   width: 50%;
   height: 10px;
   bottom: 0;
   background: rgb(0, 122, 236);
}

}

aside{
   width: 40%;
   height: 98vh;
   background-color: #a69080;
   position: absolute;
   right: 5%;
   top: 90%;
   border-radius: 4px;
   box-shadow: 0px 0px 6px 3px black;
   p{
      color: black;
      font-size: 20px;
      text-align: center;
      justify-content: center;
 
   }

   hr{
      width: 50%;
      border: 2px solid rgb(0, 122, 236);
   }
}


.author{
   width: 80%;
   text-align: center;


   .head{
      font-size: 60px;
      font-weight: bold;
      font-style: oblique;
      text-align: center;
}
.sub-head{
   font-size: 22px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

   span{
      color: rgb(0, 122, 236);
      font-variant: normal;
      font-family: fantasy;
   }
}

.auth{
   display: flex;
margin-left: 40%;
width: 22%;
justify-content: space-between;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

.name{
   font-size: 20px;
   text-transform: capitalize;
   height: 20px;
}

.bout{
   font-size: 15px;
}
}

.circle{
   width: 60px;
   height: 60px;
   border-radius: 50%;
   margin-top: 25px;
}
}



.info{
   width: 100%;
   height: 115vh;
   margin-top: 20px;
   background: #a69080;
   overflow: hidden;

   section{
      width: 500px;
      height: 300px;
      background: #93785b;
      border-radius: 4px;
      margin-top: 30px;

      h2{
         font-size: 27px;
         text-transform: capitalize;
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
 
      .about{
         display: flex;

         p{
            font-size: 18px;
            color: rgb(197, 189, 173);
         }
      }

      img{
         width: 80px;
         height: 80px;
         margin-top: 20px;
      }
   }

   .people{
      display: flex;
      justify-content: space-evenly;
      
   }
   .people-{
      margin-top: 40px;
      display: flex;
      justify-content: space-around;
      
   }
}

.design{
   width: 100%;
   height: 30px;
   background: rgb(0, 122, 236);
}

.vide{
   width: 100%;
   height: 100vh;
   background: rgb(0, 122, 236);
   rotate: 50deg;
   border: 2px solid rgb(0, 122, 236);
   z-index: -1;
   position: absolute;
}

.show:hover{
   position: absolute;
   width: 500px;
   height: 500px;
}

.article{
   width: 100%;
   height: 50vh;
   background-color: #865d3680;
   display: flex;
   justify-content: space-around;
  div{
   height: 40vh;
   background: #93785b77;
   width: 20%;
   margin-top: 20px;
  }
   img{
      margin-top: 40px;
      margin-left: 40px;
   }

   .straight{
      width: 8px;
      height: 45vh;
      position: absolute;
      right: 1%;
      background: rgb(0, 122, 236);
   }
}


.normal{
   height: 80vh;
   background: #3e362e;

   h1{
      text-align: center;
      font-size: 30px;
      text-transform: capitalize;
      color: black;
   }

   hr{
      width: 30%;
      border: 2px solid rgb(0, 122, 236);
   }
div{
   display: flex;
   justify-content: space-around;
   margin-top: 30px;

   a{
      text-decoration: none;
   }
   .mine{
      width: 400px;
      height: 400px;
     background-image: url(./images/kolp.jpg);
     background-size: cover;

      p{
         font-size: 50px;
         text-align: center;
         margin-top: 180px;
         font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         text-transform: capitalize;
         color: rgb(11, 11, 34);
      }
   }
}

}
.mine:hover{
   transition: .4s ease-in;
   border-radius: 50%;
}
.back-to-top:hover{

   width: 100px;
   height: 100px;
   border-radius: 50%;
   transition: .2s ease-in;
   background: rgba(11, 11, 34, 0.384);
   color: red;
}
footer{
.back-to-top{
   float: right;
   margin-right: 3%;
   width: 100px;
   height: 100px;
   color: #3e362e;
   text-align: center;
   margin-top: 50px;
   i{
      font-size: 30px;
      
   
   }
}

   div{
      hr{
         width: 150px;
      }
      .h4{
         font-size: 22px;
      }

      li{
         list-style-type: none;
      }

      a{
         font-size: 20px;
         text-decoration: none;
         text-transform: capitalize;
         color:  rgb(11, 11, 34);
      }
   }
   width: 100%;
   background: rgb(0, 122, 236);
   background-size: cover;
   background-repeat: no-repeat;

   .cave{
      display: flex;
      justify-content: space-around;
      
   }

   .logos{
      float: right;
      margin-right: 3%;
      i{
         font-size: 30px;
         color:  rgb(11, 11, 34);
         width: 30px;
         height: 30px;
         border-radius: 50%;
         
      }
   }


 .dev{
   width: 100%;
   height: 40px;
   background-color: rgb(11, 11, 34);
   text-align: center;
   font-size: 35px;
   text-transform: uppercase;
   font-family: monospace;
 }

}


.logos i:hover{
   transition: .2s ease-out;
   background: red;
}

@keyframes frame {
   100%{
      transform: translateY(0%);
   }
}



